@font-face {
    font-family: diva_font;
    src: url(/assets/nintendo_NTLG.woff),
    url(/assets/nintendo_NTLG.woff2);
}

@import url("https://cdn.jsdelivr.net/npm/@mdi/font@7.1.96/css/materialdesignicons.min.css");

body {
    background-image: url('/assets/sekai.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    font-family: diva_font;
    font-size: 16px;
}

img {
    border-radius: 10px;
}
a {
    text-decoration: none;
    color: #5f32c9;
}

.content {
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 8%;

    text-align: center;

    font-weight: normal !important;
}

/* Postbox & Credits */

.postcontainer {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.postbox {
    background-color: #ffffff6e;
    border-radius: 10px;

    backdrop-filter: blur(8px);
    box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.371);
  
    padding: 30px;
}

.postmaintable {
    width: 100%;
}
.postbox h1 {
    padding-left: 20px;
}
.postimage {
    width: 40%;
}
.postimage .links {
    width: 100%;
}
.postimage .links a {
    font-size: 1.3em;
}
.postdetails {
    width: 60%;
}
.postdetails h4 {
    line-height: 15px;
}

/* Work Icons */
.icon-yt-small {
    background: url('/assets/icon/icon-yt.png');
    background-size: cover;
    display: block;
    align-items: left;

    width: 22px;
    height: 22px;
}
.icon-nn-small {
    background: url('/assets/icon/icon-nn.png');
    background-size:cover;
    display: block;
    align-items: left;

    width: 22px;
    height: 22px;
}

.icon-yt-large {
    background: url('/assets/icon/icon-yt.png');
    background-size: cover;
    display: block;
    align-items: left;

    width: 30px;
    height: 30px;
}
.icon-nn-large {
    background: url('/assets/icon/icon-nn.png');
    background-size:cover;
    display: block;
    align-items: left;

    width: 30px;
    height: 30px;
}


/* Work Items */

.worktable {
    width: 100%;
}
.workitem {
    background-color: #ffffff6e;
    border-radius: 10px;

    backdrop-filter: blur(8px);
    box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.371);
  
    padding: 10px;

    width: 33%;
}
.workitem-blank {
    background-color: #00000000
}
.links {
    width: 100%;
}
#youtube {
    color: rgb(163, 46, 46);
    padding-left: 50px;
}
#niconico {
    color: rgb(33, 99, 33);
    float:right;
    padding-right: 50px;
}
#niconico2 {
    color: rgb(33, 99, 33);
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #ffffff6e;
    overflow: hidden;
    border-radius: 10px;

    backdrop-filter: blur(8px);
    box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.371);
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #272727;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #eaeaea6e;
    color: black;
}
/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}
/* Hover colours */
#red:hover {
    background-color: #ff19196e;
    color: white;
}
#black:hover {
    background-color: #1717176e;
    color: white;
}
#blue:hover {
    background-color: #1994ff6e;
    color: white;
}